		#tap{
			width: 150px;
			height: 150px;
			position: absolute;
			left:50%;
			top:50px;
			cursor: url(../sources/punch.png),auto;


		}
		.tap_wrap{
			width: 100%;
			height: 675px;
			background-image: url("../sources/grass.png");
			float:left;
			cursor: url(../sources/punch.png),auto;
		}
		
		.gameover{
			display: none;
			position: absolute;
			top: 30%;
			left: 30%;
			width: 40%;
			height: 200px;
			background-color:#5a2323;
			opacity: .8;
		    text-align: center;
		}
		#timer,#score{
			position: absolute;
			top: 0;
			right: 0;
			font-size: 3em;
			margin: 0px;
			color: #5a2323;
		}
		#score{
			left:0;
			
		}
		.instruction{
			font-size: 50px;
			text-align: center;
			position: absolute;
			top:30%;
			width: 100%;
			margin: 0;

		}
		#countdown{
			font-size: 100px;
			display: none;
		}
        @media only screen and (max-width: 700px) {
            .gameover{
                top: 25%;
			    left: 10%;
			    width: 80%;
			    height: 150px;
			    cursor: default;
                }
             #timer,#score{
			    font-size: 2em;
			
		       }
          }
        #opps{
        	height: 100px;
        	width: 100px;
        	position: absolute;
        	display: none;
        }
        #restart{
        	border-collapse: collapse;
        	border-radius: 5px;
        	background-color: black;
        	color: white;
        	width: 60px;
        	height: 40px;
        }